<div class="card">
  <div class="card-header inverse bg-primary">
    <h4 class="text-white">Dashboard</h4>
  </div>
  <div class="card-block">
    This is the dashboard for HCA's Locum Tracking Tool.
    <ul>
      <li>To add a provider to the schedule via our web form, click Schedule. (Not implemented)</li>
      <li>To review or import a Parallon invoice, click Payments. (Not implemented)</li>
      <li>To review or import a Parallon accrual, click Accruals. (Not implemented)</li>
      <li>To reconcile the schedule, accruals, and invocies, click Reconcile. (Not implemented)</li>
      <li>To see a list of reports, click on reports. (Not implemented)</li>
    </ul>
  </div>
  
  
  
</div>