<div class="card">
  <div class="card-header inverse bg-primary">
    <h4 class="text-white">Dashboard</h4>
  </div>
  <div class="card-block">
    This is the dashboard for HCA's Locum Tracking Tool.
    <ul>
      <li>To add accruals via our web form or to import from our templace, click accruals. (Not implemented)</li>
      <li>To import a Parallon invoice, click payments. (Not implemented)</li>
      <li>To reconcile invocies and accruals, click reconcile. (Not implemented)</li>
      <li>To see a list of reports, click on reports. (Not implemented)</li>
      <li>To import from historical files, click import.  (Not implemented)</li>
    </ul>
  </div>
  
  
  
</div>