<div class="list-group">
  <a href="#" class="list-group-item">
    <i class="fa fa-calendar fa-fw"></i> &nbsp; Schedule
  </a>
  
  <a href="<%= import_historical_path %>" class="list-group-item">
    <i class="fa fa-credit-card fa-fw"></i> &nbsp; Accruals
  </a>
  
  <a href="#" class="list-group-item">
    <i class="fa fa-usd fa-fw"></i> &nbsp; Payments
  </a>
  
  <a href="<%= reconcile_path %>" class="list-group-item">
    <i class="fa fa-check-square-o fa-fw"></i> &nbsp; Reconcile
  </a>
  
  <a href="#" class="list-group-item">
    <i class="fa fa-line-chart fa-fw"></i> &nbsp; Reports
  </a>
  
</div>