<div class="jumbotron" style="background-color: #c2c6ce">
  <h3 class="text-center">Welcome to HCA's Locum Tracking Tool</h3>
  <br />
  <hr>
  <div class="row">
    <div class="col-md-4">
      <p class="lead">Automated Invoice Reconciliation</p>
    </div>
    <div class="col-md-4">
      <p class="lead">Enchanced Cross-Site Communication</p>
    </div>
    <div class="col-md-4">
      <p class="lead">User Friendly Web Interface</p>
    </div>
  </div>
  
  
  
</div>
