<%= render 'shared/reconcile_menu' %>

<p>In this section you can reconcile accruals and payments. Click on the link above that corresponds to the time period over which you would like to reconcile.</p>




